body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0d1a3a, #001428);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem;
}
.flex-basic{
    display: flex;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}

.card {
    background: #00235a99;
    border: 1px solid #ffffff26;
    border-radius: 16px;
    padding: 3rem 4rem;
    max-width: 600px;
    text-align: center;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #7CFFCB;
}

.subtitle {
    font-size: 1rem;
    color: #cfd8e3;
    margin-bottom: 2rem;
}

.list-card {
    width: 100%;
    max-width: 900px;
    padding: 2rem 3rem;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0b2147;
    border: 1px solid #19335f;
    border-radius: 10px;
    overflow: hidden;
}

.list-table th,
.list-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #1c3766;
}

.list-table th {
    background-color: #102b57;
    color: #7cffcb;
    font-weight: bold;
}

.color-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

/*Button styles*/
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 50px;
    background: #7CFFCB;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #64d9a7;
    transform: scale(1.05);
}

.btn-small {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
}

.btn-edit {
    background-color: #7cffcb;
    color: #000;
}

.btn-edit:hover {
    background-color: #64d9a7;
    transform: scale(1.03);
}

.btn-danger{
    background-color: #ff6666;
}

.btn-danger:hover{
    background-color: #7e3412;
    transform: scale(1.03);
}

.btn-blue{
    background-color: #44d9ec;
}
.btn-blue:hover{
    background-color: #05cce6;
    transform: scale(1.03);
}




/*FORMS*/
.form-card {
    max-width: 600px;
    padding: 3rem 4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

label {
    font-size: 0.95rem;
    font-weight: bold;
    color: #7cffcb;
    text-align: left;
}

.input {
    padding: 0.8rem 1rem;
    border: 1px solid #1c3766;
    border-radius: 8px;
    background-color: #0b2147;
    color: #fff;
    font-size: 1rem;
    outline: none;
}

.input:focus {
    border-color: #7cffcb;
}




